{% extends 'index.html' %}

{% block content %}
  <h2>Are you sure you want to delete this event?</h2>

  <p><strong>Event Name:</strong> {{ event.name }}</p>
  <p><strong>Event Date:</strong> {{ event.date }}</p>
  <p><strong>Location:</strong> {{ event.location }}</p>
  <p><strong>Capacity:</strong> {{ event.capacity }}</p>
  <p><strong>Price:</strong> ${{ event.price }}</p>

     <td>
         <a href="{% url 'delete-event' id=event.id %}" onclick="return confirm('Are you sure you want to delete this event?');">Delete</a>
     </td>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete this event</button>
    <a href="{% url 'all-events' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
